.nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav-right a {
    margin-left: 23px;
    text-decoration: none;
    color: #405073;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
}

.logo {
    width: 50px;
    height: 50px;
}
.nav-left {
    display: flex;
}

.nav-burger {
    border: none;
    background-color: transparent;
    display: none;
}

.nav-burger svg {
    fill: #405073;
}

.nav-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #405073;
}

.nav-dropdown a {
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100%;
    transition: 0.3s ease;
    margin: 5px 0;
    text-align: center;
}

.nav-dropdown a:hover {
    background-color: #fff;
    color: #405073;
}

@media only screen and (max-width: 770px) {
    .nav-right {
        display: none;
    }

    .nav-burger {
        display: block;
    }

    .nav-dropdown {
        display: flex;
    }
}
